<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="OpenJDK Monitoring &amp; Management Console">
				<action name="Execute">
					<execute>jconsole</execute>
				</action>
			</item>
			<item label="OpenJDK Policy Tool">
				<action name="Execute">
					<execute>policytool</execute>
				</action>
			</item>
			<item label="Qt4 Assistant">
				<action name="Execute">
					<execute>assistant-qt4</execute>
				</action>
			</item>
			<item label="Qt4 Designer">
				<action name="Execute">
					<execute>designer-qt4</execute>
				</action>
			</item>
			<item label="Qt4 Linguist">
				<action name="Execute">
					<execute>linguist-qt4</execute>
				</action>
			</item>
			<item label="Qt4 QDbusViewer">
				<action name="Execute">
					<execute>qdbusviewer-qt4</execute>
				</action>
			</item>
		</menu>
		<menu id="2" label="Editors">
			<item label="Leafpad">
				<action name="Execute">
					<execute>leafpad</execute>
				</action>
			</item>
			<item label="Nano">
				<action name="Execute">
					<execute>xterm -e nano</execute>
				</action>
			</item>
			<item label="Vi">
				<action name="Execute">
					<execute>xterm -e vi</execute>
				</action>
			</item>
			<item label="Vim">
				<action name="Execute">
					<execute>lxterminal -e vim</execute>
				</action>
			</item>
		</menu>
		<menu id="6" label="Graphics">
			<item label="E-book Viewer">
				<action name="Execute">
					<execute>ebook-viewer</execute>
				</action>
			</item>
			<item label="Feh">
				<action name="Execute">
					<execute>feh</execute>
				</action>
			</item>
			<item label="GNU Image Manipulation Program">
				<action name="Execute">
					<execute>gimp-2.8</execute>
				</action>
			</item>
			<item label="Image Viewer">
				<action name="Execute">
					<execute>gpicview</execute>
				</action>
			</item>
			<item label="Inkscape">
				<action name="Execute">
					<execute>inkscape</execute>
				</action>
			</item>
			<item label="LRF Viewer">
				<action name="Execute">
					<execute>lrfviewer</execute>
				</action>
			</item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer">
				<action name="Execute">
					<execute>xterm -e alsamixer</execute>
				</action>
			</item>
			<item label="GNOME MPlayer">
				<action name="Execute">
					<execute>gnome-mplayer</execute>
				</action>
			</item>
			<item label="HandBrake">
				<action name="Execute">
					<execute>ghb</execute>
				</action>
			</item>
			<item label="OpenShot Video Editor">
				<action name="Execute">
					<execute>openshot</execute>
				</action>
			</item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser">
				<action name="Execute">
					<execute>bssh</execute>
				</action>
			</item>
			<item label="Avahi VNC Server Browser">
				<action name="Execute">
					<execute>bvnc</execute>
				</action>
			</item>
			<item label="Chromium">
				<action name="Execute">
					<execute>chromium</execute>
				</action>
			</item>
			<item label="Chromium App Launcher">
				<action name="Execute">
					<execute>chromium --show-app-list</execute>
				</action>
			</item>
			<item label="Deluge">
				<action name="Execute">
					<execute>deluge-gtk</execute>
				</action>
			</item>
			<item label="FireFox">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
			<item label="FTP">
				<action name="Execute">
					<execute>xterm -e ftp</execute>
				</action>
			</item>
			<item label="Google Chrome">
				<action name="Execute">
					<execute>google-chrome-stable</execute>
				</action>
			</item>
			<item label="Lynx">
				<action name="Execute">
					<execute>xterm -e lynx</execute>
				</action>
			</item>
			<item label="Mail">
				<action name="Execute">
					<execute>xterm -e mail</execute>
				</action>
			</item>
			<item label="Mutt">
				<action name="Execute">
					<execute>lxterminal -e mutt</execute>
				</action>
			</item>
			<item label="Skype">
				<action name="Execute">
					<execute>skype</execute>
				</action>
			</item>
			<item label="Talk">
				<action name="Execute">
					<execute>xterm -e talk</execute>
				</action>
			</item>
			<item label="Telnet">
				<action name="Execute">
					<execute>xterm -e telnet</execute>
				</action>
			</item>
			<item label="W3m">
				<action name="Execute">
					<execute>xterm -e w3m</execute>
				</action>
			</item>
		</menu>
		<menu id="3" label="Office">
			<item label="Document Viewer">
				<action name="Execute">
					<execute>evince</execute>
				</action>
			</item>
			<item label="LibreOffice Impress">
				<action name="Execute">
					<execute>libreoffice</execute>
				</action>
			</item>
		</menu>
		<menu id="39" label="Other">
			<item label="Calibre">
				<action name="Execute">
					<execute>calibre</execute>
				</action>
			</item>
			<item label="CMake">
				<action name="Execute">
					<execute>cmake-gui</execute>
				</action>
			</item>
			<item label="Dropbox">
				<action name="Execute">
					<execute>dropboxd</execute>
				</action>
			</item>
			<item label="Edit E-book">
				<action name="Execute">
					<execute>ebook-edit</execute>
				</action>
			</item>
			<item label="Fcitx Configuration">
				<action name="Execute">
					<execute>fcitx-configtool</execute>
				</action>
			</item>
			<item label="Qt V4L2 test Utility">
				<action name="Execute">
					<execute>qv4l2</execute>
				</action>
			</item>
		</menu>
		<menu id="19" label="Shells">
			<item label="File Manager PCManFM">
				<action name="Execute">
					<execute>pcmanfm</execute>
				</action>
			</item>
			<item label="LXTerminal">
				<action name="Execute">
					<execute>lxterminal</execute>
				</action>
			</item>
			<item label="MC">
				<action name="Execute">
					<execute>xterm -e mc</execute>
				</action>
			</item>
			<item label="Root Terminal">
				<action name="Execute">
					<execute>gksu -l gnome-terminal</execute>
				</action>
			</item>
			<item label="UXTerm">
				<action name="Execute">
					<execute>uxterm</execute>
				</action>
			</item>
			<item label="Vifm">
				<action name="Execute">
					<execute>xterm -e vifm</execute>
				</action>
			</item>
			<item label="Xterm">
				<action name="Execute">
					<execute>xterm</execute>
				</action>
			</item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="21" label="GNOME">
					<item label="Adobe Flash Player">
						<action name="Execute">
							<execute>flash-player-properties</execute>
						</action>
					</item>
					<item label="Network Connections">
						<action name="Execute">
							<execute>nm-connection-editor</execute>
						</action>
					</item>
					<item label="Privilege granting">
						<action name="Execute">
							<execute>gksu-properties</execute>
						</action>
					</item>
				</menu>
				<item label="ARandR">
					<action name="Execute">
						<execute>arandr</execute>
					</action>
				</item>
				<item label="Desktop Preferences">
					<action name="Execute">
						<execute>pcmanfm --desktop-pref</execute>
					</action>
				</item>
				<item label="Openbox Configuration Manager">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="Preferred Applications">
					<action name="Execute">
						<execute>libfm-pref-apps</execute>
					</action>
				</item>
			</menu>
			<item label="Avahi Zeroconf Browser">
				<action name="Execute">
					<execute>avahi-discover</execute>
				</action>
			</item>
			<item label="dconf Editor">
				<action name="Execute">
					<execute>dconf-editor</execute>
				</action>
			</item>
			<item label="Fcitx">
				<action name="Execute">
					<execute>fcitx</execute>
				</action>
			</item>
			<item label="GParted">
				<action name="Execute">
					<execute>gparted_polkit</execute>
				</action>
			</item>
			<item label="Task Manager">
				<action name="Execute">
					<execute>lxtask</execute>
				</action>
			</item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Synapse">
				<action name="Execute">
					<execute>synapse</execute>
				</action>
			</item>
		</menu>
		<separator/>
                <menu id="todo-menu" label="Todo" execute="openbox-todo" />
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"><action name="Reconfigure"/></item>
			<separator/>
			<item label="Exit"><action name="Exit"/></item>
			<item label="Suspend"><action name="Execute"><execute>systemctl suspend</execute></action></item>
			<item label="Hibernate"><action name="Execute"><execute>systemctl hibernate</execute></action></item>
			<item label="Restart"><action name="Execute"><execute>systemctl reboot</execute></action></item>
			<item label="Shutdown"><action name="Execute"><execute>systemctl poweroff</execute></action></item>
		</menu>
	</menu>
</openbox_menu>
